.courses {
  padding: 136px 0;
  &-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 38px;
    .courses-title {
      font-weight: 400;
      font-size: 61px;
      letter-spacing: 2.56px;
      max-width: 520px;
      line-height: 83.2px;
    }
    .courses-text {
      font-weight: 400;
      font-size: 26px;
      letter-spacing: 0.42px;
      opacity: 0.5;
      line-height: 37.8px;
      max-width: 617px;
    }
    .courses-cards {
      display: flex;
      gap: 16px;
    }
    .courses-card {
      position: relative;

      &-content {
        display: flex;
        flex-direction: column;
        gap: 12px;
        position: absolute;
        bottom: 50px;
        left: 0;

        h1 {
          font-size: 28px;
          font-weight: 400;
          line-height: 35px;
          letter-spacing: 0.42px;
        }

        p {
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 0.42px;
          line-height: 24px;
        }

        .card-job {
          opacity: 0.65;
        }
      }
    }
  }
}
@media (max-width: 960px) {
  .courses {
    &-cards {
      flex-wrap: wrap;
      justify-content: center;
    }
    .courses-title {
      font-size: 45px;
      line-height: 60px;
    }
    .courses-text {
      font-size: 18px;
      line-height: 28px;
    }
  }
}
@media (max-width: 550px) {
  .courses-cards {
    width: 100%;
  }
  .courses-card img {
    width: 100% !important;
  }
}
