.hero {
  padding-top: 96px;

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
    h1 {
      font-weight: 400;
      font-size: 63px;
      letter-spacing: 2.88px;
    }
    p {
      font-size: 28px;
      font-weight: 400;
      letter-spacing: 0.42px;
      opacity: 0.7;
    }
    button {
      padding: 20px 30px;
      background-color: #ff4343;
      color: #fff;
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 23px;
      font-weight: 400;
      letter-spacing: 0.42px;
      border: none;
      border-radius: 8px;
    }
    span {
      font-size: 14px;
      letter-spacing: 0.42px;
    }
  }
}
@media (max-width: 1110px) {
  .hero-wrapper {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 20px;
    }
    button {
      font-size: 17px;
    }
  }
}
@media (max-width: 950px) {
  .hero-wrapper {
    .hero-image {
      width: 100%;
    }
  }
}
