.info {
  padding: 150px 0;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 38px;

    h1 {
      font-size: 58px;
      font-weight: 400;
      letter-spacing: 1.92px;
      line-height: 70px;
      max-width: 462px;
    }

    p {
      max-width: 462px;
      font-size: 26px;
      font-weight: 400;
      letter-spacing: 1.08px;
      line-height: 37.8px;
      color: #9f9f9f;
    }
  }

  span {
    color: #fff;
    font-weight: 700;
  }
}

@media (max-width: 1152px) {
  .info {
    padding: 100px 0;
    &-wrapper {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      gap: 60px;
    }
  }
}

@media (max-width: 700px) {
  .info {
    &-img {
      width: 100% !important;
    }

    &-content {
      h1 {
        font-size: 36px;
        line-height: 44px;
      }

      p {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
}
