.info-box1 {
  display: flex;
  gap: 326px;
}
.info-txt {
  h1 {
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 1.92px;
    max-width: 442px;
  }
  p {
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 1.08px;
    max-width: 452px;
  }
}
.info-box2 {
  display: flex;
  gap: 100px;
  h1 {
    max-width: 462px;
  }
}
