.quote {
  margin: 132px 0;
  background-image: url("../images/quote.png");
  padding: 150px 0;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  text-align: center;
  h1 {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.42px;
    line-height: 48.84px;
    max-width: 701px;
    font-style: italic;
  }
  p {
    font-weight: 400;
    font-size: 23px;
    letter-spacing: 0.42px;
    opacity: 0.7;
  }
}
@media (max-width: 740px) {
  .quote {
    padding-left: 10px;
    padding-right: 10px;
    h1 {
      font-size: 30px;
      font-weight: 500;
      letter-spacing: 0.38px;
      line-height: 45px;
      max-width: 500px;
    }
  }
}
