@use "navbar" as *;
@use "hero" as *;
@use "info" as *;
@use "courses" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px;
}
body {
  background-color: #100e14;
  color: #ffff;
}
